.env
__pycache__/KEYS.cpython-313.pyc
__pycache__/main.cpython-313.pyc
BOT_HW/__pycache__/__init__.cpython-313.pyc
BOT_HW/__pycache__/MainConfigs.cpython-313.pyc
BOT_HW/__pycache__/uteis.cpython-313.pyc
BOT_HW/__pycache__/Welcome.cpython-313.pyc
SessionsTeste/BOT_TESTE.session
SessionsTeste/BOT_TESTE.session-journal
BOT_HW/__pycache__/Harem.cpython-313.pyc
BOT_HW/__pycache__/Inline.cpython-313.pyc
BOT_HW/__pycache__/ComandoUser.cpython-313.pyc
BOT_HW/__pycache__/pegarmensagem.cpython-313.pyc
logs.log
BOT_HW/__pycache__/contador.cpython-313.pyc
Zteste.py
Sessions/Husbando.session
Sessions/Husbando.session-journal
Sessions/Waifu.session
Sessions/Waifu.session-journal
BOT_HW/__pycache__/ComandosAdms.cpython-311.pyc
BOT_HW/__pycache__/ComandoUser.cpython-311.pyc
BOT_HW/__pycache__/contador.cpython-311.pyc
BOT_HW/__pycache__/ComandosAdms.cpython-311.pyc
BOT_HW/__pycache__/ComandoUser.cpython-311.pyc
BOT_HW/__pycache__/contador.cpython-311.pyc
BOT_HW/__pycache__/eventos.cpython-311.pyc
BOT_HW/__pycache__/Inline.cpython-311.pyc
BOT_HW/__pycache__/eventos.cpython-313.pyc
BOT_HW/__pycache__/ComandosAdms.cpython-313.pyc
BOT_HW/__pycache__/eventos.cpython-313.pyc
